body {
  padding: 0rem;
  background: url(../images/Grass.png) center / cover;
}

title {
  justify-content: center;
  text-align: center;
}

 header {
   justify-content: center;
 }

 label {
   font-weight: bolder;
   font-size: 1.8rem;
   font-family: fantasy;
   color: rgb(64,64,64);

 }

 h1 {
   color: teal;
   font-family: fantasy;
   font-weight: bold;
   font-size: 4rem;
   justify-content: center;
   text-align: center;
 }

button {
  color: black;
  font-family: roboto;
  font-weight: bolder;
  font-size: 1rem;
}

ul {
  width: auto;
  height: 90%;
  color: black;
  font-family: roboto;
  font-weight: bolder;
  font-size: 1rem;
  justify-content: flex-start;
  text-align: center;
}

 main {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 .project img {
   width: 100%;
 }

 @media screen and (max-width: 1024px) {
   header.mdl-layout__header {
     display: flex;

   }
 }
