body {
  padding: 0rem;
}

title {
  justify-content: center;
  text-align: center;
}

 header {
   background: url(../images/Grass.png) center / cover;
   height: 100vh;
   justify-content: center;
 }

 label {
   font-weight: bolder;
   font-size: 1.8rem;
   font-family: fantasy;
   color: rgb(64,64,64);

 }

 h1 {
   color: teal;
   font-family: fantasy;
   font-weight: bold;
   font-size: 4rem;
   justify-content: center;
   text-align: center;
 }

button {
  color: black;
  font-family: roboto;
  font-weight: bolder;
  font-size: 1rem;
}

#toDoList {
  width: 90%;
  height: 90%;
  padding-left: 40%;
  padding-right: 30%;
  color: black;
  font-family: roboto;
  font-weight: bolder;
  font-size: 1rem;
  justify-content: center;
  text-align: center;
}

#newToDoText {
  justify-content: center;
  text-align: center;
  padding-left: 30px;
}

 main {
   max-width: 900px;
 }

 .project img {
   width: 100%;
 }

 @media screen and (max-width: 1024px) {
   header.mdl-layout__header {
     display: flex;
   }
 }
