body {
  padding: 5rem;
}

title {
  justify-content: center;
  text-align: center;
}

 header {
   background: url(../images/Grass.jpg) center / cover;
   height: 100vh;
   opacity: 0.5;
   justify-content: center;
 }

 label {
   font-weight: regular;
   font-size: 2rem;
   font-family: fantasy;
   color: black;
 }

 input {

 }

 h1 {
   color: rgb(64,64,64);
   font-family: fantasy;
   font-weight: bold;
   font-size: 4rem;
   justify-content: center;
   text-align: center;
 }

button {
  color: black;
  font-family: roboto;
  font-weight: bolder;
  font-size: 1rem;
}

 main {
   max-width: 800px;
 }

 .project-description {
   padding-left: 0;
 }

 .project img {
   width: 100%;
 }

 @media screen and (max-width: 1024px) {
   header.mdl-layout__header {
     display: flex;
   }
 }
